/* This section sets the margin and padding of the complete document to zero and sets the box-sizing to border box */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat',
        sans-serif;
}
/* This section is for changing the header color and aliging it to the center */
header {
    background: #fec107;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* This sets the font color of h1 present in header to white */
header h1 {
    color: #ffffff;
}
.header-img{
    margin-right: 10px;
    color: whitesmoke;
}
/* This section is contains the login form */
#login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 83vh;
}
/* This is customize the login form */
.login-form {
    width: 400px;
    height: 300px;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
/* This section sets the margin of input form present on login page to 10px */
.login-form input {
    margin: 10px;
}
/* This pseduo tag is used here to change the font size of place holder in the input tag */
::placeholder {
    font-size: 20px;
}
/* This section customizes the footer of every page */
footer {
    height: 7vh;
    position: relative;
    width: 100%;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ----------Main page which is after login page starts from here--------------- */


/*This section is for the left iFrame present on the main page  */
#left-frame {
    margin-top: 10px;
    height: 680px;
    width: 15%;
    background-color: #fec107;
}
/* This section is for the main frame present on the main page which is also the middle iFrame */
#main-frame {
    height: 680px;
    width: 70%;
}
/* This section is for the right Frame present on the main page  */
#right-frame {
    background-color: #fec107;
    width: 14.4%;
    height: 680px;
}

/* This section customizes the list present in the left frame */
li {
    margin: 30px;
    list-style-type: none;
    padding: 4px;
    border-radius: 10px;
}

/* This section customizes the anchor tag present in the list items present in the left frame */
li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    transition: all 0.3s ease-in;
}

/* This section changes the color of anchor element when hovering over it */
li a:hover {
    color: #f5f5f5;
}



/* This changes text align to the center of the page */
h1 {
    text-align: center;
}
/* This changes the text align to the center of the main page */
.main>h1 {
    text-align: center;
}
/* This is to customize the para graph element */
.para {
    padding: 20px;
    color: white;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 30px;
}

.para-announce {
    text-align: center;
    background-color: #ffd658;
}

.announce-ul li {
    list-style-type: disc;
}
/* This customizes all the images present in the web page */
.img {
    width: 1200px;
    height: 700px;
    position: absolute;
    z-index: -1;
    filter: blur(5px);

}

/*------------ Registration page--------------  */

/* This is the main parent class which contains all elements of the registration page  */
.wrapper {

    max-width: 500px;
    width: 100%;
    background: #fff;
    margin: 50px auto;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.125);
    padding: 30px;
}
/* This customizes the title of the registration page */
.wrapper .title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #fec107;
    text-transform: uppercase;
    text-align: center;
}
/* This section sets the width of thea form element equal to the width of the wrapper class */
.wrapper .form {
    width: 100%;
}
/* This section customizes the inputfield class which containts almost all of the elements on the login form as well as the registration form */
.wrapper .form .inputfield {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}
/* This section customizes the label of the the form */
.wrapper .form .inputfield label {
    width: 149px;
    color: #757575;
    margin-right: 5px;
    font-size: 14px;
}
/* This section customizes the input area of input  */
.wrapper .form .inputfield .input,
.wrapper .form .inputfield .textarea,
.login-form input {
    width: 100%;
    outline: none;
    border: 1px solid #d5dbd9;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.wrapper .form .inputfield .textarea {
    width: 100%;
    height: 125px;
    resize: none;
}
/* This section customizes the drop down list which contains name of the states */
.wrapper .form .inputfield .custom_select {
    position: relative;
    width: 100%;
    height: 37px;
}
/* This changes the height of the list box which contains relationships */
#list_box option {
    height: 26px;
}


.wrapper .form .inputfield .custom_select select {
    appearance: none;
    outline: none;
    width: 100%;
    height: 100%;
    border: 0px;
    padding: 8px 10px;
    font-size: 15px;
    border: 1px solid #d5dbd9;
    border-radius: 3px;
}

.gender {
    margin-right: 7px;
}
/* This changes the border color of the element which is in focus */
.wrapper .form .inputfield .input:focus,
.wrapper .form .inputfield .textarea:focus,
.wrapper .form .inputfield .custom_select select:focus,
.login-form input:focus,
#list_box:focus {
    border: 1px solid #fec107;
}

.wrapper .form .inputfield p {
    font-size: 14px;
    color: #757575;
}
/* This customizes the checkbox elements of the form */
.wrapper .form .inputfield .check {
    width: 15px;
    height: 15px;
    position: relative;
    display: block;
    cursor: pointer;
    margin-right: 10px;
}


/* This changes the color of the input element */
.wrapper .form .inputfield .btn,
button {
    width: 100%;
    padding: 8px 10px;
    font-size: 15px;
    border: 0px;
    background: #fec107;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
}
/* This changes the color of the button when hoverd present on the form */
.wrapper .form .inputfield .btn:hover,
button:hover {
    background: #ffd658;
}

.wrapper .form .inputfield:last-child {
    margin-bottom: 0;
}

hr{
    color: white;
    margin-bottom: 10px;
}